@charset "utf-8";

/* setting */
/* animaion */
/* reset */
/* util */

.sr-only {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* 한줄 말줄임  single line */
.sl-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 두줄 말줄임 */
.multi-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* style */
.cont-movie {
    width: 1006px;
    margin: 86px auto 0;
    padding: 0 27px 29px;
    border: 2px solid #BDBDBD;
    
}

/* 유지보수를 위해서도 부모와 자식을 명시해주는 게 좋음. 안 그러면 길어지면 어디 안에 있는 건지 알기가 힘듦  */
.cont-movie .tit-cont {
    font-size: 25px;
    text-align: center;
    line-height: 28px;
    padding: 38px 0;
}
.cont-movie .nav-movie {
    text-align: center;
}

/* 줄그어지는 거! border-bottom으로 해도 되지만, 이게 더 깔끔할 거 같음 */
.cont-movie .nav-movie::before {
    display: block;
    content: '';
    width: 650px;
    height: 2px;
    background-color: #BDBDBD;
    /* 중앙 정렬 하는 방법 */
    margin: 0 auto;
}

.cont-movie .list-movieNav {
    display: inline-block;
    margin: 27px 0;
} 

.cont-movie .list-movieNav li {
    float: left;
    
}
/* li 뒤에 오는 li들에만 margin-left 주려고 이렇게 한 거!*/
.cont-movie .list-movieNav li + li {
    margin-left: 60px;
}

.cont-movie .list-movieNav .link-nav {
    color: #828282;
}

.cont-movie .list-movieNav .on .link-nav {
    color: #000;
    font-weight: bold;
}
/* layout */
/* design */
/* media query */