* {
    font-family: 'Noto Sans KR', sans-serif;
}

/* index.html */
.landing {
    background-color: #0D6EFD;
    height: 70vh;
    /* 깨지는 걸 방지하기 위해서는 min-height쓰면 된다 */
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.landing h1 {
    border-top:2px solid #fff ;
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
    font-weight: 700;
    margin-bottom: 30px;
}

.landing section {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 26px;
}
.landing section p {
    margin-bottom: 2px;
}

.footer {
    background-color: #E8EEF4;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: #7C8081;
    line-height: 24px;
}
/* ads */
.kakao-ad {
    width: 320px;
    height: 100px;
    margin: 0 auto;
}

/* test.html */

.header {
    background-color: #0D6EFD;
    height: 10vh;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.header h1 {
    border-top:2px solid #fff ;
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
    font-weight: 700;
    margin: 30px 0;
}
.test-main .test-main-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 46px 100px 53px;
    border-bottom: 1px solid #EEEEEE;
}
.test-main .test-main-row h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
}
.test-main .test-main-row p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}

.test-main-row .btn-group {
    width: 300px;
}
.test-main-row .btn-group .btn {
    width: 33.333%;
}
.test-main-row .btn-group .btn-check {
    width: 33.333%;
    padding: 6px 0;
}
.test-footer {
    background-color: #E8EEF4;
    height: 20vh;
    text-align: center;
    color: #7C8081;
    line-height: 24px;
    padding: 50px 0;
}
/* result.html */

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 50px 0;
}
.result img {
    /* 모바일 화면에서도 이미지 크기가 너무 크지 않도록 */
    width: 80%;
    /* 큰 화면에서도 이미지가 너무 커져서 화질이 낮아지지 않도록 최대 크기를 정해둠 */
    max-width: 500px;
}
.result h2 {
    margin:12px 0 27px;
    font-size: 32px;
    line-height: 38px;
}
.result p {
    margin-bottom: 40px;
}
.result a {
    margin-bottom: 55px;
}
